@model IEnumerable<EladInon.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>הצגת מיקומי צילומים</h2>

<p>
    <a asp-action="Create">צור מיקום חדש</a>
</p>
<table class="table">
    <thead>
        <style>
            clm {
                color: blue;
            }
        </style>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">מחק</a> |
                    <clm data-lat="@item.Location_X" data-lng="@item.Location_Y">הצג על המפה</clm>
                </td>
            </tr>
        }
    </tbody>
</table>


<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:300px;width:70%;"></div>
    <script>
        var center_lat;
        var center_lng;

        var myCenter;
        var mapProp;
        var map;

        $("clm").click(function () {
            center_lat = $(this).data('lat');
            center_lng = $(this).data('lng');
            newLocation(map, center_lat, center_lng);
            setMarkers(myCenter, map);
        });

        if (center_lat == null || center_lng == null) {
            center_lat = 32.0926072;
            center_lng = 34.8392178;
        };

        function myMap() {
            myCenter = new google.maps.LatLng(center_lat, center_lng);
            mapProp = { center: myCenter, zoom: 16, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            setMarkers(myCenter, map);

        };

        function setMarkers(myCenter, map) {
            var marker = new google.maps.Marker({ position: myCenter, map: map });
            marker.setMap(map);
        };

        function newLocation(map, newLat, newLng) {
            map.setCenter({
                lat: newLat,
                lng: newLng
            });
        };
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB84Wy0qplvZlKe7TPnt2G1dohdwlvSuPQ&callback=myMap"></script>
</fieldset>


