@model User

@{
    ViewData["Title"] = "פרופיל";
}

<section style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-9">
            <header class="project-header">
                <div class="project-header-bg">
                    <h2>@Html.DisplayFor(model => model.FullName)</h2>
                </div>
            </header>
            <div class="project-info">
                <h3>@Html.DisplayNameFor(model => model.UserName)</h3>
                @Html.DisplayFor(model => model.UserName)
                <h3> @Html.DisplayNameFor(model => model.FirstName)</h3>
                @Html.DisplayFor(model => model.FirstName)
                <h3>@Html.DisplayNameFor(model => model.LastName)</h3>
                @Html.DisplayFor(model => model.LastName)
                <h3>@Html.DisplayNameFor(model => model.EMail)</h3>
                @Html.DisplayFor(model => model.EMail)
            </div>
        </div>
        <div class="col-md-3">
            <aside class="well well-lg">
                <img src="~/images/Student.jpg" class="img-responsive img-circle" />
                <hr />
                <div class="text-center">
                    <strong>@Html.DisplayFor(model => model.FullName)</strong>
                </div>
            </aside>
        </div>
    </div>

</section>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

