@model IEnumerable<EladInon.Models.Picture>

@{
    ViewData["Title"] = "Index";
}

<h2>תצוגת תמונות</h2>

<p>
    <a asp-action="Create">צור תמונה</a> | 
    <a asp-action="Statistics" >סטטיסטיקה</a> |
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <select asp-items="ViewBag.AlbumTypes" name="albumTypeSearchString" text="@ViewData["albumTypeFilter"]">
                <option selected="selected" value="">בחר סוג אלבום</option>
            </select>
            <select asp-items="ViewBag.LocationTypes" name="locationTypeSearchString" text="@ViewData["locationTypeFilter"]">
                <option selected="selected" value="">בחר סוג מיקום</option>
            </select>
            <select asp-items="ViewBag.Locations" name="locationSearchString" text="@ViewData["locationFilter"]">
                <option selected="selected" value="">בחר מיקום צילומים</option>
            </select>
            <select asp-items="ViewBag.Albums" name="albumSearchString" text="@ViewData["albumFilter"]">
                <option selected="selected" value="">בחר אלבום</option>
            </select>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                אפשרויות
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.Path" width="200" height="200"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">ערוך</a> |
                <a asp-action="Details" asp-route-id="@item.ID">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">מחק</a>
            </td>
        </tr>
    }
    </tbody>
</table>
