@model EladInon.Models.Album

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>פרטים על האלבום</h2>

<div>
    <h4>פרטי אלבום</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">ערוך אלבום</a> |
    <a asp-action="Index">חזור לרשימת אלבומים</a>
</div>
